/*! == COMPONENTS == */

#page .button {
    position: relative;
    display: inline-block;
    background: $brand-primary;
    margin: 0;
    padding: 0 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: $supporting-font;  
    color: $brand-dark-grey;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 0;
    letter-spacing: 0.15em;
    
    span {
        display: block;
        font-weight: 200;
        text-transform: none;
        font-style: italic;
        font-size: 1.2em;
    }
    
    &__ghost {
        background:transparent;
        color: $brand-light-grey;
    }
    
    &__prompt {
        position: relative;
        text-align: left;
        padding-right: 6em;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.5em;
    
    i {
            position: absolute;
            top: 20px;
            right: 1em;
            left:initial;
            vertical-align: top;
            font-weight: 600;
            font-size: 3em;
    }
    
    &:hover i {
        right:0.75em;
    }
        
    }
    
    &__inline-cta {
    
        i {
            vertical-align: sub;
            line-height: 1.2em;
            font-size: 1.5em;
            margin-left: 0.5em;  
        } 
    }
    
    &__fullwidth {
        display: block;
        text-align: center;
    }
}

.trigger-expand,
.trigger-collapse {
    position: relative;
    transition:$fastEffect;
    font-family: $supporting-font;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 2px;
    color: $brand-secondary;

  &:hover {
      cursor:pointer;
  }
}

a.next-section {
    position: absolute;
    bottom: 0;
    display: block;
    height: 4em;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
 
     &:before {
        position: absolute;
        content: '';
        bottom: 10px;
        left: 50%;
        margin-left: -4px;
        height: 0;
        width: 5px;
        background: hsl(0, 0%, 100%);
        -webkit-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        transition: height 0.5s ease;
        border-radius: 50px;
    }
    
    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -11px;
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 26px;  
        transform:rotate(90deg);
    } 
    
    &:hover:before {
        height:30px;
    }
}

.collapsed-content {
    max-height: 0;
    overflow: hidden; 
    transition:max-height 0.5s ease;
    
    &.expand {
        max-height: 100vh;
    }
}

.logo-holder {
    text-align: center;
    margin-top: -10px;
 
    #logo {
        width:80px;
        height:30px;
    }

    #ramsbury {
        opacity:0.6;
        transition:opacity 0.5s ease-in-out;
    
        path {
            fill:$brand-secondary;
        }
    }

    #created {
        opacity:0;
        transform: translateY(50px);
        transition: 1s transform ease, 2s opacity ease;

        path {
            fill:$brand-secondary;
        }
    }

    &:hover {
        cursor:pointer;

        #ramsbury {
            opacity:0.8;
        }

        #created {
              opacity:0.8;
              transform: translateY(0);
        }
    }
}

.container-map {
	max-width: 100%;
}

#map-contact {
	width: 100vw;
	height: 90vh;
	margin: 200px 20px 20px 20px;
	

	
	.marker {
		background-color: transparent;
		width: 40px;
		height: 40px;
		border: 10px solid white;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: inset 1px 1px 5px 3px rgba(27, 27, 27, 0.32), 1px 1px 5px 3px rgba(27, 27, 27, 0.32);
	}
	
	.mapboxgl-popup {
		max-width: 200px;
	}
	
	.mapboxgl-popup-content {
		text-align: left;
		background-color: #FFFFFF;
		color: black;
		padding: 1.1em;
		
		.mapboxgl-popup-close-button {
			display: block;
			border-color: #000000;
		}
		
		.buttons-popup {
			width: 100%;
	        text-align: center;
		
			a {
				line-height: 1.4em;
				display: inline-block;
		        width: 100%;
		        background-color: black;
		        border: 1px solid white;
		        color: white;
		        font-size: 14px;
			    text-transform: uppercase;
			    padding: 5px;
			    margin: 5px 0px;
			    letter-spacing: 0.1em;
			    cursor: pointer;
			}
		}
		
		div {
			&.name {
				text-transform: uppercase;
			    font-size: 1.5em;
			    letter-spacing: 0.15em;
			    line-height: 1.3em;
			    margin-bottom: 1em;

			}
			
			&.address {
				font-size: 1.2em;
				color: #717171;
			}
			
			&.phone {
				font-size: 1.3em;
			    letter-spacing: 0.1em;
			    margin: 1.5em 0em;
			}
		}
	}
	
	.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	    border-top-color: #ffffff;
	}
}

#tour-datepicker {
	
	display: none;
	
	.ui-datepicker-header {
		width: 100%;
		height: 24px;
		line-height: 24px;
		color: #5ed1cc;
		margin-bottom: 20px;
	}
	
	.ui-datepicker-prev, .ui-datepicker-next {
		width: 30px;
		height: 30px;
		line-height: 24px;
		border-radius: 100%;
		cursor: pointer;
		overflow: hidden;
		transition: border-color 0.3s ease;
		position: relative;
		text-align: center;
		
		&:before {
			color: #FFFFFF;
		    content: '\f054';
		    margin-left: 3px;
		    font-family: "Font Awesome 5 Free";
		    font-style: normal;
		    font-weight: 900;
		    line-height: 30px;
		    transition: color 0.3s ease;
		}
		
		&:hover, &:hover:before {
			border-color: #aeaeae;
			color: #aeaeae;
		}
		
		span {
			display: none;
		}
			
	}
	
	.ui-datepicker-prev {
		float: left;
		transform: rotate(180deg);
	}
	
	.ui-datepicker-next {
		float: right;
		margin-left: 12px;
	}
	
	.ui-datepicker-title {
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 1.5em;
		letter-spacing: 4px;
		text-indent: 4px;
	}
	
	.ui-datepicker-calendar {
		width: 100%;
		text-align: center;
		
			thead tr th span {
				margin-bottom: 10px;
				display: block;
				color: #adadad;
				text-transform: uppercase;
				font-weight: normal;
			}
	}
	
	.ui-state-default {
		margin: 5px;
		height: 50px;
		background-color: white;
		display: block;
		text-decoration: none;
		color: white;
		border: 2px solid transparent;
		line-height: 50px;
		font-size: 20px;
		letter-spacing: 4px;
		text-indent: 4px;
		background: #828282;
		transition: background-color 0.3s ease;
		cursor: pointer;
		
		&:hover {
			background-color: #5F5F5F;
		}
	}
	
	.ui-state-active {
		background-color: #FA9917;
		
		&:hover {
			background-color: #FA9917;
		}
	}
	
	.ui-datepicker-unselectable .ui-state-default {
		color: grey;
		cursor: default;
		background-color: white;
		border: 2px solid transparent;
	}
}
