/*! == GLOBAL == */
html {
    font-size: 18px;
    overflow-y: scroll;
}
 
html,
body {
    min-height: 100vh;
    margin:0;
    padding: 0;
}

body {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 200;
    background: hsl(0, 0%, 96%);
    color: hsl(69, 2%, 31%);
}

.page-border {
    content:'';
    position: fixed;
    top:0;
    left: 0;
    height:100%;
    width:10px;
    background-color: white;
    z-index: 1000;
    
    &__left-top {
        &:before {
            content:'';
            position: fixed;
            width:100%;
            height:10px;
            background-color:white;
        }
    }
    
    &__right-bottom {
        left:initial;
        right:0;
        
        &:before {
            content:'';
            position: fixed;
            left: 0;
            bottom:0;
            width:100%;
            height:10px;
            background-color:white;
        }
    }
    
}

main {
    min-height: 100vh;
}

p {
    font-size: 1em;
    font-weight: 200;  
}

a {
    display: inline-block;
    line-height: 1.2em;
    color: $brand-secondary;
    transition:color 0.3s ease;

    &:hover {
        text-decoration: none;
        color: $brand-dark-grey;
    }  
    
    i {
        line-height: 1.2em;
        vertical-align: bottom;
        transition:all 0.5s ease;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.heading {
    font-family: $brand-font;
    letter-spacing: 0.05em; 
    color: $brand-dark;         
    
    &__alt {
        font-family: $supporting-font;        
    }
    
    &__body {
        font-family: $body-font;
    }
    
    &__caps {
        text-transform: uppercase;
    }
    
    &__light {
        color: white;
    }
    
    &__alt-color {
      color: $brand-dark-grey;
    }
    
    &__xl {
        font-size: 4em;
        line-height: 1.4em;
    }
    
    &__lg {      
        font-size: 3em;
    }  
    
    &__md {
        font-size: 1.5em;    
    }   
    
    &__sm {
        font-size: 1.2em;   
    }
    
    &__xs {
        font-size: 0.75em;        
    }   

}

[type=button], 
[type=reset], 
[type=submit], 
button {
    -webkit-appearance: none;
    border: none;
}

input:focus,
select:focus {
    outline:none;
}

.align-center {
	text-align: center;
}

/*===========HEADER==========*/

.site-wrapper {
    position: relative;
}

header {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 1000;
}

nav {
	position:fixed;
	top:0;
	left:0;
	display: grid;
	justify-content:center;
	z-index: 200;
	width:100%;
	padding:1em;
  
	.container {
		position: relative;
	}
  
	&:before {
		content:'';
		position: absolute;
		top:-100%;
		left:0;
		width:100%;
		height:100%;
		background: hsl(20, 2%, 14%);
		z-index: -1;
		transition:top 0.5s ease;
	}
  
	&.dark:before {
		top:0;
	}  

	svg {
		width:150px;
		display: block;
		margin: 0 0 1em;
		transition: all 0.5s ease;
	}

	ul {
		list-style: none;
		margin:0;
		padding:0;
		font-family:serif;
		font-weight:100;
		letter-spacing:2px;
		text-transform:uppercase;
	
		li {
			display:inline-block;
			padding:0 2em;
			color: white;
		
			a {
				color: white;
				transition: color 0.5 ease;
			}
		}
	}
  
}

.dark svg {
	width:100px;
	margin: 0 auto -1em;
	
	#text {
		display:none;
	}
}

.brand {
    width:100%;
    text-align: center;
}

body.page-template-beer-summary {
	
	#nav:not(.dark) {
		.st0 {
			fill: #333333;
		}
		
		ul li a {
			color: #333333;
		}
	}
}

/*===========FOOTER==========*/

.socket {
    width:100%;
    padding: 1em 15px;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $brand-dark-grey;
    background:white;
    
    a {
        color: $brand-dark-grey;
    }
    
    i {
      margin-right: 1em;
    }
        
    &__colophon {
      text-align: right;
      a {
        margin-left:0.5em;
        padding-left:0.5em;
        border-left: 1px solid hsl(11, 95%, 72%);
        color: $brand-dark-grey;
      }
    }
  }

.socials a {
    padding: 0 1em;
    color: white;
}
