/*! == MODULES == */

.hero {
    @include backgroundCover; 
    position: relative; 
    display: grid;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    z-index: 50; 
    padding-bottom: 2em; 

    &__content {
        
        h3 {
            position: relative;
            margin:0.5em 0 1em;
            
            &:before {
                content:'';
                position: absolute;
                bottom: -0.5em;
                left: 0;
                width:50px;
                height: 3px;
                background: $brand-secondary;
            }
        }
    }
    
    &__carousel {
        display: block;
        padding:0;
    }
}

.fullscreen-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


.tabs {
    margin-bottom: 3em;
    
    &__top {

        .nav {
            width: 100%;
            text-align: center;
            
            li {
                width:33.3%;
                padding: 1em;
            }
        }        
    }
    
    &__bottom {
        padding: 2em;
        background: $brand-light-grey;        
    }
    
    .nav-item.active {
        background: $brand-light-grey;
    
        img {
            width: 100%;
            height: auto;  
            margin-bottom: 2em;      
        }  
    }
}

.expanding-copy {
    overflow:hidden;
    
    &__more {
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow:hidden;
    }
    
    .trigger-collapse {
        display: none;
    }
    
    &.expand {
        
        .expanding-copy__more {
            max-height: 100vh;
        }
        
        .trigger-expand {
            display:none;
        }
        
        .trigger-collapse {
            display: block;
        }
    }
}

.learn-more {
    
    &__content {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2em;
        background: white;
        
        img {
            grid-row: 1 / span 3;
        }
        
        .copy {
            padding-left: 2em;
        }
    }
}

.inline-cta {
    background: hsl(0, 0%, 85%);
    color: $brand-dark-grey;
    padding: 2em 0;    
    
    .container {
        display: grid;
        grid-template-columns: auto 30%;
        align-items: center;
    }
}

.carousel {
    
    &__item {
        @include backgroundCover; 
        position: relative;         
        height: 100%;
        display: grid;
        align-content: flex-end;
        padding-bottom: 10%;
    }
    
}

.owl-carousel,
.owl-stage-outer,
.owl-carousel .owl-stage,
.owl-item {
    height: 100%;
}

.owl-carousel {

    .owl-nav {
        position: absolute;
        top:50%;
        width:100%;
        margin-top: -2em;
        
        button {
            z-index: 2;
            position: absolute;
            font-size: 4em !important;
            color: hsl(0, 0%, 100%) !important;

            span {
                display: none;
            }

            &:after {
                content:'';
                position: absolute;
                width:50px;
                height: 50px;
                background: hsla(0, 0%, 100%, 0.3);
                transition: background 0.5s ease;
            }

            &:hover:after {
                background: hsla(0, 0%, 100%, 0.6);
            }

            &:before {
                content:'';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 10px;
                transform:rotate(-45deg);
                border-top:2px solid black;
                border-left:2px solid black;
                z-index: 5;
            }

            &.owl-next {
                right: 50px;

                &:before {
                    right:-30px;
                    transform: rotate(135deg);
                }
            }
            &.owl-prev {
                left: 0;

                &:before {
                    left:15px;
                }
            }
            &:focus {
                -webkit-appearance: none;
                outline:none;
            }
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 5em;

    a {
        @include backgroundCover;
        position: relative;
        display: block;
        min-height: 20em;
        transition:all 0.3s ease;

        &:hover {
            transform: scale3d(1.03, 1.03, 1);
            position: relative;
            z-index: 500;
            box-shadow: 0 10px 5px 5px hsla(0, 0%, 0%, 0.2);
        }
        
        &:nth-of-type(1){
            grid-area:1/1/2/3;
        }
        
        &:nth-of-type(2){
            grid-area:1/3/2/4;            
        }        
        
        &:nth-of-type(3){
            grid-area:2/1/3/4;                        
        }        

        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6){
           grid-area: auto; 
        }
                
    }
}

.filter-gallery {
    margin-bottom: 3em;

    &__filter {
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        border-bottom: 3px solid $brand-dark-grey;
        text-align: center;
        
        a {
            position: relative;
            margin: 0 0.5em;    
        
            &:after {
                content:'';
                position: absolute;
                bottom: -11px;
                left: 50%;
                margin-left: -10px;    
                width: 20px;
                height: 10px;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $brand-dark-grey transparent;          
                opacity:0;
                transition:all 0.5s ease;  
            }   
             
            &:hover {
                color: $brand-secondary !important;
                cursor:pointer;
            }
            
            &:hover:after {
                opacity:1;
            }
            
            &.mixitup-control-active {
            
                color: $brand-secondary;
                
                &:after {
                    opacity: 1;
                }
                
            }
        }
    }
    
    &__wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: 4px;
    width: 100%;
    }
    
    &__item {
        @include backgroundCover;
        flex: auto;
        height: 250px;
        min-width: 200px;
        margin: 0 8px 8px 0; /* Some gutter */   
    
        &:nth-of-type(4n+1) {
          width: 30%;
        }
        
        &:nth-of-type(1n+1) {
          width: 20%;
        }
        
        &:nth-of-type(2n+1) {
          width: 38%;
        }
        
        &:nth-of-type(3n+1) {
          width: 30%;
        }
        
        &:nth-of-type(4n+1) {
          width: 24%;
        }    
        
        &:nth-of-type(5n+1) {
          width: 24%;
        }          
        
        &:nth-of-type(6n+1) {
          width: 19%;
        }              
    }
}

.itemised-list p {
    position: relative;
    padding-left: 2em;
    
    &:before {
        content: '';
        width: 1em;
        height: 1em;
        background: hsl(0, 0%, 85%);
        position: absolute;
        left: 0;
        top: 0.25em;
    }
}

.avatar-circular {
    position: relative;
    display: inline-grid;
    width: 30%;
    margin-right: 3%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
    
    &:nth-of-type(4) {
        margin-right: 0;
    }
    
    img {
        border-radius: 50%;
    }
}

.pull-quote {
    margin-top:2.5em;
    text-align: right;
    text-transform: uppercase;
    font-weight: 400;
    color: $brand-primary;
    
    p {
        text-transform: none;
        font-size: 1.5em;
        font-style: italic;
        font-weight: 400;
        color: $brand-secondary;      
    }
}

.partner-logos {
    padding:2em;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 88%);
    margin-bottom: 1em;    
    
    img {
        display: inline-block;
        max-height: 50px;
        margin: 0 1em;
    }
}

.download {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 1em;
    width: 47%;
    margin-bottom: 1em;

    &__icon {
        font-size: 4em;
        line-height: 1em;
        }
    
    p {
        line-height: 1em;
    }    
}

.body-copy {
    
    p:nth-of-type(1) {
        font-weight: 400;
    }   
}

.sidebar-menu ul {
    list-style: none;
    margin:0;
    padding: 0;    
    
    li {
        position: relative;
        padding-left: 2em;
        
        &:before {
            content: '';
            width: 1em;
            height: 1em;
            background: hsl(0, 0%, 85%);
            position: absolute;
            left: 0;
            top: 0.1em;    
        }   
    }
}

.sidebar-cta {
    @include backgroundCover;
    position: relative;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    height: 40em;    
    margin: 2em 0 3em;
    padding: 2em;
    justify-content: center;
    text-align: center;
    
    
    &:after {
        @include childOverlay;
        background:black;
        opacity:0.4;  
        z-index: 1;  
        transition: opacity 0.5s ease;
    }
    
    &:hover:after {
        opacity:0.7;
    }
    
    .heading,
    p,
    .button {
        z-index: 10;
    }
    
}

.toggle {
    padding-left: 3em;

    &__question {
    
        &:hover {
            cursor: pointer;
        }
    
        p {
            position: relative;
        
            span {
                position: absolute;
                left: -3em;
            }
        }
    
        i {
            position: absolute;
            right: -2em;
            transform: rotate(45deg);  
            transition: all .5s ease;
        }  
    }
    
    &__answer {
        max-height: 0;
        overflow: hidden;
        transition:max-height .5s ease;
    }
}

.toggle.active {

    .toggle__question i {
        transform: rotate(0deg);
    }

    .toggle__answer {
        max-height: 100vh;
    }
}

article.news {
    margin-bottom: 3em;
    
    > p:first-of-type {
        font-weight:400;
    }
}

.wp-caption {
  max-width: 100%;

    p {
        position: relative;
        padding-left: 1.5em;
        margin-top: 0.5em;
        font-size: 1em;
        color: $brand-secondary;  
        
        &:before {
            content: '';
            width: 1em;
            height: 1em;
            background: hsl(0, 0%, 85%);
            position: absolute;
            left: 0;
            top: 0.1em;    
        }   
    }
}

.post-summary {
    margin-bottom: 3em;
    
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4, min-content);
        grid-column-gap: 2em;
        border-bottom: 3px solid $brand-light-grey;
        padding-bottom: 1em;
        margin-bottom: 1em;
        
        &:last-of-type {
            border:none;
        }
        
        .post-image {
            grid-row-start:1;
            grid-row-end: 5;
            } 
        
        .heading {
            grid-row-start:1;
            grid-row-end: 2;            
            }

        p:nth-of-type(1) {
            grid-row-start:2;
            grid-row-end: 3;            
            }            
        p:nth-of-type(2) {
            grid-row-start:3;
            grid-row-end: 4;            
        }              
        
        .button {
            width: fit-content;    
        }    
    }
}

.formWrapper {
    
    input, textarea {
        width: 100%;
        border: none;
        font-size: 1.2em;
        font-family: $supporting-font;
        padding: 0.25em 0.5em;
        margin-bottom: 1em;
    }
    
    textarea {
        height:5em;
    }
    
    label {
        position:relative;
        display: block;
        text-transform: none;
        margin: 0;
        font-size: 1em;
        font-family: $supporting-font;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        span{
            position: absolute;
            right:0;
            color: $brand-dark-grey;
        }
    }
    
    .extra-fields {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease;
    }
    
    .submit, .expand-form {
        @include headingSupporting;
        display: inline-block;
        width: auto;
        margin-right: 4%;
        padding: 1em 3em;
        text-transform: uppercase;
        text-align: center;
        font-family: $supporting-font;
        font-weight: 600;
        font-size: 0.75em;
        background: $brand-secondary;
        color: white;
    }
    
    ::placeholder {
        font-family: $supporting-font;
        font-style: italic;
        font-size: 0.75em;
        color: grey;
    }
}

.contactSocials {
    
    a {
        margin-right: 1em;
        font-size: 0.8em;
        color: $brand-primary;
    }
}

.mapboxgl-popup-content {
    background: $brand-secondary;
    color: hsl(0, 0%, 100%);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $brand-secondary;
}

.mapboxgl-popup-close-button {
    display: none;
}

