/*! == MODIFIERS == */

/* Position */

/* 
Loop to generate margins and padding based on ems.
Syntax is mt3 = margin top 3em, pl5 = padding left 5em
*/

$distance: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20); // Amount string.
$sides: (top, bottom, left, right); // Sides var

@each $amount in $distance {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}#{$amount} {
            margin-#{$side}: #{$amount}em ;
        }
        .p#{str-slice($side, 0, 1)}#{$amount} {
            padding-#{$side}: #{$amount}em;
        }
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    margin-bottom: 2em;
}

/* Height */

$height: (0, 25, 50, 75, 100); // Amount string.

@each $amount in $height {
        .h#{$amount} {
            height: #{$amount}vh;
    }
}

/* Typography */

$weight: (100, 200, 300, 400, 500, 600, 700, 800, 900); // Amount string.

@each $amount in $weight {
        .font#{$amount} {
            font-weight: #{$amount};
    }
}

/* Animation */

@-webkit-keyframes pulse {
    0% {
       opacity: 1.0;
    }
    50% {
       opacity: 0.1;
    }
    100% {
       opacity: 1.0;
    }
}













