/*! == THEME STYLES == */

/*===========HEADER==========*/

/*===========BODY==========*/

.dark-block {
    @include darkCircularGradient;
    border-bottom:10px solid white;
}

.bottom-border {
    border-bottom: 10px solid white;
}

.inline-list {
    margin:0;
    padding: 0;
    
    li {
        display: inline-block;
        
        &:after {
            content:', ';
        }
        
        &:last-of-type:after {
            content:'.';
        }
        
        &.yes {
            font-weight: 400;
        }
    }
    
}

.product-hero {
    background: hsl(20, 3%, 19%);
    @include darkCircularGradient;
    position: relative;
    
    .bottle {
        height: calc(100vh - 15em);
        margin: 12em 0 3em;
        
        img {
            height: 100%;
            min-height: 100%;
            width: auto;
        }
    }
}

.product-nav {
    position: absolute;
    top:50%;
    left: 0;
    width:100%;
    
    .previous,
    .next {
        position: absolute;
        left: 0;
        width: 7em;
        padding-left: 3.5em;
        font-family: $brand-font; 
        
        a {
            color: white;
            opacity:0.7;
        }
    
        &:before {
            @include backgroundContain;
            content:'';
            position: absolute;
            width:50px;
            height:50px;
            background:url(inc/img/arrow-shape.svg);
            transform: rotate(90deg);
            top: 50%;
            left: 10px;
            margin-top: -25px;  
        }
    }
    
    .next {
        left: initial;
        right: 0;
        padding-left: 0;
        padding-right: 3.5em;
        text-align: right;
        
        &:before {
            transform:rotate(-90deg);
            left:initial;
            right: 10px;
        }
    }
}

.bottle {
    position: relative;
    display: inline-block;
    width: auto;   
      
    &:before {
        content: '';
        position: absolute;
        width: 251%;
        height: 7%;
        background: hsla(0, 0%, 0%, 0.27);
        bottom: 16px;
        left: 10%;
        z-index: -1;
        border-radius: 50%;
        transform: rotate(-7deg);
        filter: blur(7px);
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(left, hsl(0, 0%, 0%) 0%,hsla(206, 70%, 70%, 0) 100%);
        background: linear-gradient(to right, hsl(0, 0%, 0%) 0%,hsla(206, 70%, 70%, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=1 );
        opacity: 0.7;
        width: 200%;
        transition: width 1s ease;
    }

    &:after {
        content: '';
        position: absolute;
        width: 151%;
        height: 6%;
        background: hsla(0, 0%, 0%, 0.27);
        bottom: 5px;
        left: 3%;
        z-index: -1;
        border-radius: 50%;
        -webkit-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);
        -webkit-filter: blur(7px);
        filter: blur(2px);
        background: -moz-linear-gradient(left, black 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, hsl(0, 0%, 0%) 0%, hsla(206, 70%, 70%, 0) 100%);
        background: -webkit-gradient(linear, left top, right top, from(hsl(0, 0%, 0%)), to(hsla(206, 70%, 70%, 0)));
        background: -o-linear-gradient(left, black 0%, rgba(125, 186, 232, 0) 100%);
        background: linear-gradient(to right, hsl(0, 0%, 0%) 0%, hsla(206, 70%, 70%, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=1 );
        opacity: 0.7; 
    }

}

.bottle-bg {
    @include backgroundContain;
    height: 100%;
}

.product-details {
    display: grid;
    height:calc(100% - 5em);
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(9vh, 30vh) minmax(min-content, min-content) minmax(min-content, min-content);
    margin-top:5em;
    
    .top {
        align-self: flex-end;
    }
    
    .detail {
        align-self: center;
        color: white;
    }
    
    .action {
        align-self: flex-start;
    }
    
}

.product-card {
    
    .bottle {
        width:30%;
    }
}

.value select {
    width:auto;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    padding: 0.25em 1em;
    font-weight: 100;
    font-size: 1em;    
}

.value span {
    position: relative;
    display: block;
    width:50%;
    float: left;
    margin-bottom: 1em;
    z-index: 1;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: hsl(0, 0%, 100%);
        z-index: -2;        
    }
    
    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        position: absolute;
        height: 100%;
        background: hsl(0, 0%, 62%);
        top: 0;
        right: 0;
        z-index: -1;
        text-align: center;
        font-size: 1em;
        line-height: 2em;
        color: hsl(0, 1%, 21%);
        padding: 0 1em;
    }
}
.quantity {
    .plus,
    .minus {
        background: hsl(0, 0%, 62%); 
        height: 2em;
        margin: 0;
        padding: 0 1em;
        float: left;        
    }
}

span.woocommerce-Price-amount.amount {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0.5em;
    display: block;
    color: $brand-light-grey;
}

.woocommerce div.product form.cart .reset_variations {
    width: 45%;
    float: left;
    text-align: center;
}

.locally {
    width:50%;
    float: left;
    
    span {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
        color: white;
    }
    
    .button {
        width:100%;
    }
    
    .button__ghost {
        border:2px solid white !important;
    }
}

.woocommerce-variation-add-to-cart-disabled {
    
    
    .quantity,
    .single_add_to_cart_button.button {
        display: none !important;
    }
}

.woocommerce-variation-add-to-cart-enabled {

    .locally {
        display: none !important;
    }

}

.find-cta {
    @include backgroundCover;
    position: relative;
    background-position: center top !important;
    display: grid;
    height:30em;
    align-content: center;
    justify-content: center;
    border-bottom: 10px solid white;
    
    
    .content {
        display: grid;
        z-index: 10;
    }
    
    #pint {
        content:'';
        position: absolute;
        width: 1em;
        top: 9%;
        left: 11%;

        &:nth-of-type(2) {
            top:25%;
            left:80%;
            #beer {
                transition-delay: .3s;
            }
        } 

        &:nth-of-type(3) {
            top:45%;
            left:30%;
            #beer {
                transition-delay: .6s;
            }            
        } 

        &:nth-of-type(4) {
            top:65%;
            left:50%;
            
            #beer {
                transition-delay: .9s;
            }            
        } 
        
        &:nth-of-type(5) {
            top:85%;
            left:70%;
            #beer {
                transition-delay: .1.2s;
            }            
        }         

        #beer {
          transition: all 1s ease;
            transform-origin: bottom;   
            fill-opacity:0;
            transform: scaleY(0);         
        }
    }
}

.loaded #beer {
     fill-opacity: 1 !important; 
  transform: scaleY(1) !important;
 
}



/*===========FOOTER==========*/

.details {
    @include backgroundCover;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 2em;
    background-color: hsl(0, 0%, 20%);
    background-image:url(inc/img/contours.png);
    align-content: center;
    justify-content: center;
    text-align: center;
    
    svg {
        display: block;
        margin: 0 auto;
        width:100px;
        
        #text text{
            display: none;
        }
    }
    
    p {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        
    }
}









