/*! == VARIABLES == */

$brand-primary: hsl(214, 43%, 25%);
$brand-secondary: hsl(9, 75%, 46%);
$brand-light-grey: hsl(0, 0%, 89%);
$brand-dark-grey: hsl(0, 0%, 46%); 

$brand-font: 'mr-eaves-modern', sans-serif;
$body-font: 'mr-eaves-modern', sans-serif;
$supporting-font: 'mr-eaves-modern', sans-serif;

$fastEffect: all .5s ease;
$slowEffect: all 1s ease;

